<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FixMyTask_Core_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FixMyTask_Core_Project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="d-flex flex-column min-vh-100">

    @{
        var hideNavbar = ViewData["HideNavbar"] as bool? ?? false;
        var isWorker = ViewData["IsWorker"] as bool? ?? false;
    }
    @if (!hideNavbar)
    {
        <header style="margin-bottom: 70px;">
            @if (!isWorker)
            {
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-sm py-3 bt-4">
                    <div class="container">
                        <a class="navbar-brand fw-bold text-primary" asp-controller="User" asp-action="User_PageLoad">FIX MY TASK</a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="User_PageLoad">Home</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="User_PageLoad" asp-fragment="categoriesSection">Services</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="User_PageLoad" asp-fragment="workProcess">About Us</a></li>
                                <li class="nav-item"><a class="nav-link" href="#footer">Contact</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Login" asp-action="Login_PageLoad">Log In</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
            else
            {
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-sm py-3 bt-4">
                    <div class="container">
                        <a class="navbar-brand fw-bold text-primary" asp-controller="User" asp-action="User_PageLoad">FIX MY TASK</a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" asp-controller="Worker" asp-action="Worker_PageLoad">Home</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Worker" asp-action="Worker_PageLoad">Services</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Login" asp-action="Login_PageLoad">Log In</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }


    </header>
    }
    <div >
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer mt-auto" id="footer">
        <div class="container">
            &copy; 2025 - FixMyTask_Core_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

   

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
