@model FixMyTask_Core_Project.Models.UserReview

<form asp-action="SubmitReview" method="post">
    <input type="hidden" asp-for="Worker_Id" />
    <input type="hidden" asp-for="User_Id" />
    <input type="hidden" asp-for="Booking_Id" />

    <label>Rating (1-5)</label>
    <input type="number" name="Rating" min="1" max="5" class="form-control" required />

    <label>Review</label>
    <textarea asp-for="Review" class="form-control" required></textarea>

    <input type="hidden" asp-for="ReviewDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />

    <button type="submit" class="btn btn-success">Submit Review</button>
    <a href="@Url.Action("BookingStatusViewWorker", "User",new {workerId=Model.Worker_Id})" class="btn btn-success">Back</a>
</form>
