@model FixMyTask_Core_Project.Models.UserInsert

<form asp-action="UserReg_Click" class="form-horizondal" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input asp-for="User_Name" class="form-control" id="t1" />
        <span asp-validation-for="User_Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="User_Email" class="form-control" id="t2" />
        <span asp-validation-for="User_Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Phone Number</label>
        <input asp-for="User_Phone" class="form-control" id="t3" />
        <span asp-validation-for="User_Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Photo</label>
        <input type="file" name="file" asp-for="User_Photo" class="form-control" id="t4" />
        <span asp-validation-for="User_Photo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Gender</label><br />
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="User_Gender" name="User_Gender" value="Male" id="genderMale" />
            <label class="form-check-label" for="genderMale">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="User_Gender" name="User_Gender" value="Female" id="genderFemale" />
            <label class="form-check-label" for="genderFemale">Female</label>
        </div>
        <span asp-validation-for="User_Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Address</label>
        <input asp-for="User_Address" class="form-control" id="t6"/>
        <span asp-validation-for="User_Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="User_Country" class="form-control" id="t7"/>
        <span asp-validation-for="User_Country" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="User_State" class="form-control" id="t8"/>
        <span asp-validation-for="User_State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="User_City" class="form-control" id="t9"/>
        <span asp-validation-for="User_City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Pincode</label>
        <input asp-for="Pincode" class="form-control" id="t10"/>
        <span asp-validation-for="Pincode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Username</label>
        <input asp-for="Username" class="form-control" id="t11" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <input asp-for="Password" class="form-control" id="t12" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Conform Password</label>
        <input asp-for="cPassword" class="form-control" id="t13" />
        <span asp-validation-for="cPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Insert" class="btn btn-success" />
    </div>
</form>
@{
    if (@TempData["usermsg"] != null)
    {
       <div class="alert alert-danger">
            @TempData["usermsg"]
        </div>
    }
    @if (!string.IsNullOrEmpty(Model?.usermsg))
    {
        <div class="alert alert-success">@Model.usermsg</div>
    }
}