@model FixMyTask_Core_Project.Models.Login


<form asp-action="Login_Click" class="form-horizondal" method="get">
    <div class="form-group">
        <label class="control-label">Username</label>
        <input asp-for="Username" class="form-control" id="t1"  />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <input asp-for="Password" class="form-control" id="t2" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-success" />
    </div>
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

@{
    if (@TempData["msg"] != null)
    {
        <div class="alert alert-danger">
            @TempData["msg"]
        </div>
    }
}